global
  log stdout format raw local0
  chroot /var/empty
  user haproxy
  group haproxy

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend dns_panel_bootstrap
  bind *:8080
  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }
  use_backend dns_panel_https if { req_ssl_hello_type 1 }
  default_backend dns_panel_http

backend dns_panel_https
  server lighttpd_https 127.0.0.1:443

backend dns_panel_http
  server lighttpd_http 127.0.0.1:80
